.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__body {
  flex: 1 1 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem 1rem 1.5rem;
}

.layout__footer {
  flex: 0 1 0%;
}