.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__legend {
  display: block;
  margin: 0 0 2rem;
  font-size: .9rem;
  text-align: center;
}

.form__fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__field {
  margin: 0 0 1rem;
}

.form__field:last-child {
  margin-bottom: 0;
}