.button {
  height: 2.5rem;
  padding: 0 1rem;
  background: transparent;
  border: 2px solid currentColor;
  border-radius: .125rem;
  cursor: pointer;
  color: currentColor;
}

.button[disabled] {
  background: #ccc;
  border-color: #ccc;
  text-shadow: 0 1px #999;
  color: #fff;
}

.button.stretch {
  width: 100%;
}